<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @fridge.title %>
  <%= image_tag @fridge.image if @fridge.image.attached? %>
</p>

<%= link_to 'Edit', edit_fridge_path(@fridge) %> |
<%= link_to 'Back', fridges_path %>
